.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-h3 {
  margin: 10px;
}
input {
  border: 2px solid #F3E3D5;
}
.website-form-container {
  border: 3px solid #94AFBA;
  box-shadow: 0 2px 5px #bdbdbd;
  border-radius: 25px;
}
.website-story {
  padding: 10px;
  margin: 5px;
}
#website-textarea {
  border: 2px solid #F3E3D5;
  border-radius: 25px;
  padding: 15px;
  width: 90%;
  height: 200px;
}
.website-photos {
  padding: 10px;
  margin: 5px;
}
.website-rsvp {
  padding: 10px;
  margin: 5px;
}

@media screen and (max-width: 100vmin) {
  .container {
    flex-direction: column;
  }
}
