
.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.dashboard-checkbox {
  width: 70vmin;
  padding: 10px;
  margin: 5px;
}
.dashboard-expense {
  width: 70vmin;
  padding: 10px;
  margin: 5px;
}
ul {
  list-style: none;
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checkbox {
  width: 30px;
}