
.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.dashboard-checkbox {
  border: 2px solid #94AFBA;
  border-radius: 25px;
  box-shadow: 0 2px 5px #bdbdbd;
  width: 500px;
  padding: 10px;
  margin: 50px;
}
.dashboard-expense {
  border: 2px solid #94AFBA;
  border-radius: 25px;
  box-shadow: 0 2px 5px #bdbdbd;
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: 50px;
}
ul {
  list-style: none;
}
.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checkbox {
  width: 30px;
}
.fake-data {
  font-size: 40px;
  margin: 10px;
}
.fake-data2 {
  padding: 0px;
  margin-left: -180px;
}