.navbar-nav {
  padding: 10px;
  border-bottom: 1px solid #363636;
}
.nav-div {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
}
.nav-div-left{
  display: flex;
  justify-self: center;
}
.nav-div-right {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav-link, .nav-welcome {
  border-bottom: 2px solid #ffffff;
  margin: 10px 15px 5px 15px;
  color: #363636;
  text-decoration: none;
  padding: 15px;
}
.nav-welcome {
  color: black;
}
#nav-logout {
  display: flex;
  justify-content: flex-end;
}
.nav-link:hover {
  color:#000000;
  border-bottom: 2px solid #9EAD93;
}