.btn-div {
  display: flex;
  justify-content: flex-end;
  margin: 5px 20px 20px;
}
#border-bottom {
  border-bottom: 1px solid #383838;
  width: 100%;
}
.center-landing-divs{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.landing1-div {
  background-image: url("https://images.unsplash.com/photo-1540845692348-b9d2bc813a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  align-self: center;
  border-radius: 30px;
  padding: 60px;
  width: 75%;
  
}
.landing1-heading {
  font-size: 45px;
  color: #383838;
}
.landing1-heading2 {
  font-size: 25px;
  font-weight: 300;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
#left-peek {
  justify-content: start;
}
.landing-cards {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-right: 40px ;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 630px;
  height: 300px;
  border: 2px solid #94AFBA;
  border-radius: 25px;
  box-shadow: 0 2px 5px #bdbdbd;
}
p {
  font-weight: 100;
  padding: 20px;
}
#signup-btn {
  background-color: #CAA5AC;
  border: 1px solid #CAA5AC;
  color: white;
}
#signup-btn:hover {
  background-color: #ffffff;
  color: #383838;
}
#login-btn {
  background-color: #ffffff;
  border: 1px solid #CAA5AC;
  color: #383838;
}
#login-btn:hover {
  background-color: #CAA5AC;
  color: white;
}
h3 {
  margin-left: 20vmin;
  font-weight: 200;
}
.mint-span {
  font-size: 30px;
  color: #94AFBA;
  font-weight: 400;
}
.div-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.peek-div {
  border: 2px solid #926E72;
  border-radius: 25px;
  box-shadow: 0 2px 5px #bdbdbd;
  margin: 20px;
  width: 500px;
  height: 300px;
}
