.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  box-shadow: 0 2px 5px #bdbdbd;
  background-color: white;
  border-radius: 15px;
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
}
h2,
p {
  margin: 0 0 20px;
  font-weight: 400;
  color: #999;
}
span {
  color: #666;
  display: block;
  padding: 0 0 5px;
}
form {
  padding: 25px;
  margin: 25px;
  background-color: white;
}
input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid pink;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
}
.submit-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid pink;
  border-radius: 15px;
  background-color: pink;
  font-size: 16px;
  color: white;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: row;
}

.website-form-container {
  border: 1px solid red;
}
.website-home {
  border: 1px solid orange;
  margin: 10px;
  padding: 10px;
}
.website-story {
  border: 1px solid yellow;
  padding: 10px;
  margin: 5px;
}
#website-textarea {
  width: 100%;
  height: 300px;
}
.website-photos {
  border: 1px solid green;
  padding: 10px;
  margin: 5px;
}
.website-rsvp {
  border: 1px solid blue;
  padding: 10px;
  margin: 5px;
}

@media screen and (max-width: 100vmin) {
  .container {
    flex-direction: column;
  }
}
